*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
select,
textarea {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}  

li {
    list-style: none;
}


.container {
    margin: 0 auto;
    max-width: 1117px;
} 

.list {
    display: flex;
}

ul {
    padding: 0 40px;
}
 
.header-blok {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
} 

.list{
    color: var(--2, #212353);
font-family: Avenir;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: 160%; /* 25.6px */
} 

button.header-btn {
    width: 210px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
}

.section1 {
    padding: 130px 0 200px; 
}

.section1_wraper{
    position: relative;
}

img.section2-img {
    position: absolute;
    bottom: -100px;
    left: 363px;
}

p.section1-title {
    color: var(--2, #212353);
    font-family: Helvetica;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    max-width: 645px;
    line-height: 110%;
    /* 88px */
}


.section1-text {
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 28.8px */
    max-width: 380px;
    margin: 50px 0px;
}

.section1-btn {
    width: 170px;
    border-radius: 50px;
    background: var(--3, #9C69E2);
    color: #FFF;
    text-align: center;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 160%;
    /* 28.8px */
    padding: 15px 0;
}

.section2_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 92px;
    border-radius: 50px;
    background: rgba(240, 99, 184, 0.15);
}

.section2_title {
    color: #212353;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.section2_text {
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-top: 40px;
}

.section2_inner {
    max-width: 475px;
}

.header_section_3 {
    padding-left: 250px;
}

.section_3_title {
    padding: 50px 596px 50px 256px;
    width: 450px;
    color: #212353;
    text-align: center;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
} 

.section_3_text {
    width: 584px; 
    padding-bottom: 150px;
    padding-left: 94px;
    color: var(--1, #4B5D68);
    text-align: center;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 28.8px */
} 

.wrapper_blok {
    display: flex;
}